{% extends "base.html" %}

{% block title %}
Login
{% endblock title %}

{% block body %}
<div class="mt-4 d-flex align-items-center justify-content-center">
    <div class="card" style="width: 24rem;">
        <div class="card-body">
            <h5 class="card-title text-center">Log in</h5>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Log in</button>
                <input type="hidden" name="next" value="{{ next }}">
                {% if form.errors %}
                <p class="pt-2">Your username and password didn't match. Please try again.</p>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock body %}
