name: Python Lint

on:
  push:
    branches:
      - "*"

jobs:
  python-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: astral-sh/ruff-action@v3
        with:
          src: "/home/runner/work/EventPics/EventPics/eventpics"
          args: "format --check"
